body {
    background-image: url("../Imagenes/fondo\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    font-size: medium;

}

body header footer {
    font-family: 'Montserrat', sans-serif;
    
}

body div h1 {
    font-size: 70px;
    color: rgb(18, 143, 154);
}

body div h3 {
    
    color: rgb(18, 143, 154);
}

footer {
    width: 100%;

    ;
}

footer div div p {
    color: rgb(18, 143, 154);
    font-size: small;
    font-weight: 400
}

footer div div h2 {
    color: rgb(18, 143, 154);
    font-size: medium;
}

footer div div a {
    color: rgb(18, 143, 154);
    font-weight: 400; font-size: small;
}